* {
	font: 14px/23px verdana, sans-serif;
	color: #333;
	background: #fff;
}

a { 
	font: inherit; color:inherit; text-decoration: none; 
	padding: 0.2em 0.4em;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	margin: 0 0 3px 0;
	background: #dedede;
	text-shadow: none;
}
a:hover { 
	background: #000;
	color: #fff;
}
a:link { }
a:visited { }
a.anchor, a.anchor:link, a.anchor:visited, a.anchor:hover {
	color: inherit;
	border: inherit;
	padding: inherit;
	margin: inherit;
	background: inherit;
	text-decoration: inherit;
	text-shadow: inherit;
}

code {
	font: 16px/23px Courier, monospace;
	background: #ffe;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cca;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia, sans-serif;
	color: black;
}

h1 { font-size: 42px; color: #0bc; }
h2 { font-size: 26px; }
h3 { font-size: 22px; font-style: italic; color: #999; }

div.content {
	margin: auto auto;
	width: 800px;
}
