* {
	font: 14px/23px verdana, sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia, sans-serif;
	color: black;
}

h1 { font-size: 38px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; font-variant: italic; color: #aaa; }

div.content {
	margin: auto auto;
	width: 800px;
}
