* {
	font: 19px times, verdana, sans-serif;
	line-height: 1.40em;
	color: #333;
	background: #efe;
}

a, a:link, a:visited { 
	background: inherit;
	color: #6bb;
	font: inherit; 
	text-decoration: none; 
}
a:hover { 
	background: #000;
	color: #fff;
}

a.anchor, a.anchor:link, a.anchor:visited, a.anchor:hover {
	color: inherit;
	border: inherit;
	padding: inherit;
	margin: inherit;
	background: inherit;
	text-decoration: inherit;
	text-shadow: inherit;
}

code, pre {
	font: 17px Courier, monospace;
	background: #fff8f8;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	//border: 1px dotted #cca;
	border: 0;
}

pre {
}

h1, h2, h3, h4, h5 {
	font-family: Georgia, sans-serif;
	font-weight: bold;
	color: black;
}

em { background: none; font-style: italic; }
b { background: none; font-weight: bold; }

h1 { font-size: 38px; }
h2 { font-size: 33px; font-style: italic; color: #c11; }
h3 { font-size: 22px; font-style: italic; color: #c55; }

div.content {
	margin: auto auto;
	width: 800px;
	margin-bottom: 170px;
	padding: 40px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background: #fff;
}
div.content p { background: inherit; }
div.content h2 { background: inherit; }
div.content h3 { background: inherit; }
div.content ul { background: inherit; }
div.content ol { background: inherit; }
div.content li { background: inherit; }
div.content dl { background: inherit; }
div.content dt { background: inherit; }
div.content dd { background: inherit; }
