* {
	font: 14px/23px verdana, sans-serif;
	color: #333;
	background: #fff;
}

code {
	font: 15px/23px Courier, monospace;
	background: #ffe;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cca;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia, sans-serif;
	color: black;
}

h1 { font-size: 38px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; font-style: italic; color: #999; }

div.content {
	margin: auto auto;
	width: 800px;
}
