// bar
div#ss-bar {
	font: 13px/27px Verdana;
	height: 27px;
	background: #0af;
	vertical-align: center;
	@include drop-shadow(rgba(0, 0, 0, 0.3));
}

// bar widget
div#ss-bar > div {
	height: 100%;
	float: right;
}

// bar widget's horizontal menu
div#ss-bar > div > ol {
	display: block;
	padding: 0;
	margin: 0;
}

div#ss-bar > div > ol > li {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

div#ss-bar > div > ol > li#sign-in { display: none; }
div#ss-bar > div > ol > li#sign-name { display: none; }
div#ss-bar > div > ol > li#sign-out { display: none; }
div#ss-bar > div > ol > li#sign-up { display: none; }

@mixin ss-box-base {
	color: #eff;
	cursor: default;
	padding: 10px;
	margin: 0px;
	//border: 1px solid red;
	/*
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 10px;
	padding-top: 13px;
	*/
	border-radius: 3px;
	//text-shadow: 1px 1px #045;
}
span.ss-box {
	@include ss-box-base;
}
span.ss-box-sep {
	@include ss-box-base;
	padding: 0px;
	margin: 0px;
}
$ss-box-h-color: #5df;
span.ss-box-h {
	@include ss-box-base;
	&:hover {
		color: #fff;
		background: $ss-box-h-color;
		//text-shadow: 1px 1px #555;
		@include drop-shadow(rgba(0, 0, 0, 0.3));
		@include drop-shadow-curved(rgba(0, 0, 0, 0.3));
		@include drop-shadow-curved-vt-2(rgba(0, 0, 0, 0.3));
	}
}
a.boxing {
	text-decoration: none !important;
}
