$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;

@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
@import "blueprint/grid";

//@include font-face("SSFace", font-files("OpenSans/OpenSans-Regular.ttf", truetype));
@include font-face("SSFace", font-files("Lato/Lato-Bold.ttf", truetype));
@include font-face("BrullyRegular", font-files("Brully/Brully-Regular.ttf", truetype));

$headings-font: "BrullyRegular";
$main-font: "Verdana";

@mixin drop-shadow($color) {
	-webkit-box-shadow:0 1px 4px $color; // rgba(0, 0, 0, 0.3); //, 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px $color; // rgba(0, 0, 0, 0.3); //, 0 0 40px rgba(0, 0, 0, 0.1) inset;
	        box-shadow:0 1px 4px $color; // rgba(0, 0, 0, 0.3); //, 0 0 40px rgba(1, 1, 1, 0.9) inset;
}

@mixin drop-shadow-curved($color) {
	&:before {
		top:10px;
		bottom:10px;
		left:0;
		right:50%;
		-webkit-box-shadow:0 0 15px $color; //rgba(0,0,0,0.6);
		-moz-box-shadow:0 0 15px $color; //rgba(0,0,0,0.6);
		box-shadow:0 0 15px $color; //rgba(0,0,0,0.6);
		-moz-border-radius:10px / 100px;
		border-radius:10px / 100px;
	}
}

@mixin drop-shadow-curved-vt-2($color) {
	&:before {
		right:0;
	}
}

// This is a white out cover of the whole canvas, which prevents event from propagating below it
div.ss-glass {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: white;
	opacity: 0.7;
	z-index: 100;
}

// Styles for anything in the white-out screen
.ss-screen {
	font: 13px $main-font;
}
.ss-screen h2 {
	color: #02d;
	font: 30px/40px $headings-font;
}
.ss-screen .footnote {
	font: 9px $main-font;
}

// ss-signin is the sign in form
.ss-signin {
	display: inline-block;
	margin-top: 100px;
	text-align: center;
}
.ss-signin table { margin: 30px; }
.ss-signin td { vertical-align: top; text-align: left; }
.ss-signin td.label { 
	font: 13px/33px $main-font;
	text-align: right; 
}
.ss-signin td.submit { text-align: center; }
.ss-signin td { padding: 10px; }
.ss-signin .button {
	font: 13px/20px $main-font;
}
.ss-signin input[type="text"], .ss-signin input[type="password"] {
	background: #ffd;
	font: 14px/18px $main-font;
	padding: 4px;
	width: 200px;
}

// An ss-screen is ...
div.ss-screen {
	display: block;
	position: fixed;
	z-index: 200;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	vertical-align: middle;
	text-align: center;
}
