$blueprint-grid-columns : 24;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;

@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
@import "blueprint/grid";

//@include font-face("SSFace", font-files("OpenSans/OpenSans-Regular.ttf", truetype));
@include font-face("HeadingsFace", font-files("OpenSans/OpenSans-Italic.ttf", truetype));
//@include font-face("SSFace", font-files("Lato/Lato-Bold.ttf", truetype));
@include font-face("BrullyItalic", font-files("Brully/Brully-Italic.ttf", truetype));

$headings-font: "BrullyItalic";
$main-font: "Verdana";

@mixin drop-shadow($color) {
	-webkit-box-shadow:0 1px 4px $color; // rgba(0, 0, 0, 0.3); //, 0 0 40px rgba(0, 0, 0, 0.1) inset;
	   -moz-box-shadow:0 1px 4px $color; // rgba(0, 0, 0, 0.3); //, 0 0 40px rgba(0, 0, 0, 0.1) inset;
	        box-shadow:0 1px 4px $color; // rgba(0, 0, 0, 0.3); //, 0 0 40px rgba(1, 1, 1, 0.9) inset;
}

@mixin drop-shadow-curved($color) {
	&:before {
		top:10px;
		bottom:10px;
		left:0;
		right:50%;
		-webkit-box-shadow:0 0 15px $color; //rgba(0,0,0,0.6);
		-moz-box-shadow:0 0 15px $color; //rgba(0,0,0,0.6);
		box-shadow:0 0 15px $color; //rgba(0,0,0,0.6);
		-moz-border-radius:10px / 100px;
		border-radius:10px / 100px;
	}
}

@mixin drop-shadow-curved-vt-2($color) {
	&:before {
		right:0;
	}
}
