.button {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	vertical-align: middle;

	display: inline-block;
	padding: 5px 30px 4px 30px;
	background: #0093ff;
	color: #fff;
	text-decoration: none !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	//background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #00AAFF), color-stop(1, #0077FF));
	//background-image: -moz-linear-gradient( center top, #00AAFF 0%, #0077FF 100%);
	background: #00AAFF;

	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.25);
	//text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
	cursor: default;
}

.button:active {
	position: relative;
	top: 1px;
}

.button:hover {
	//background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #67ccff), color-stop(1, #0077FF));
	//background-image: -moz-linear-gradient( center top, #67ccff 0%, #0077FF 100%); 
	background: #000;
}

.button .red {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #ff0000), color-stop(1, #ef0000));
	background-image: -moz-linear-gradient( center top, #ffAA00 0%, #ff7700 100%);
}

.button .green {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #00cc00), color-stop(1, #00bf00));
	background-image: -moz-linear-gradient( center top, #00ccaa 0%, #00ccaa 100%);
}
