.button {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	vertical-align: middle;

	display: inline-block;
	padding: 5px 30px 4px 30px;
	background: #0093ff;
	color: #fff;
	text-decoration: none !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	//background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #00AAFF), color-stop(1, #0077FF));
	//background-image: -moz-linear-gradient( center top, #00AAFF 0%, #0077FF 100%);
	background: #00AAFF;

	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.25);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.25);
	//text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
	cursor: default;
}

.button:active {
	position: relative;
	top: 1px;
}

.button:hover {
	//background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #67ccff), color-stop(1, #0077FF));
	//background-image: -moz-linear-gradient( center top, #67ccff 0%, #0077FF 100%); 
	background: #000;
}

.button .red {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #ff0000), color-stop(1, #ef0000));
	background-image: -moz-linear-gradient( center top, #ffAA00 0%, #ff7700 100%);
}

.button .green {
	background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #00cc00), color-stop(1, #00bf00));
	background-image: -moz-linear-gradient( center top, #00ccaa 0%, #00ccaa 100%);
}

// like button style

.button.like {
	padding-left: 7px;
	padding-right: 7px;
	font: 13px Verdana;
	background: #83b;
	border: 1px solid #83b;
}
.button.like:hover {
	border: 1px solid #417;
	opacity: 0.9;
}
.button.like .footnote {
	font: 11px Verdana;
	color: #dce;
}


.button.unlike {
	padding-left: 7px;
	padding-right: 7px;
	font: 13px Verdana;
	background: #bbb;
	border: 1px solid #888;
}
.button.unlike:hover {
	border: 1px solid #444;
	opacity: 0.9;
}
.button.unlike .footnote {
	font: 11px Verdana;
	color: #ddd;
}

// follow button style

.button.follow {
	padding-left: 7px;
	padding-right: 7px;
	font: 13px Verdana;
	background: #6b6;
	border: 1px solid #393;
}
.button.follow:hover {
	border: 1px solid #7a7;
	opacity: 0.9;
}
.button.follow .footnote {
	font: 11px Verdana;
	color: #9e9;
}

.button.unfollow {
	padding-left: 7px;
	padding-right: 7px;
	font: 13px Verdana;
	background: #bbb;
	border: 1px solid #888;
}
.button.unfollow:hover {
	border: 1px solid #444;
	opacity: 0.9;
}
.button.unfollow .footnote {
	font: 11px Verdana;
	color: #ddd;
}
